body {
  color: #333;
  background-color: #f4f5f6;
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
}

* > a:hover {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
  position: relative;
  color: #000;
  font-weight: 700;
}

h3,
h4 {
  font-size: 24px;
  line-height: 24px;
}

.card {
  border-radius: 0;
}

.card-text {
  padding: 5px 20px 20px;
}

.padding-x-5 {
  padding: 0 0 0 15px;
}

.p-b-20px {
  padding-bottom: 20px;
}

.p-b-10px {
  padding-bottom: 10px;
}

.p-y-10px {
  padding: 10px 0;
}

.p-r-5px {
  padding-right: 5px;
}

.m-b-20px {
  margin-bottom: 20px;
}

.wrapper-20px {
  padding: 20px;
}

.header-main,
.header-2,
.header-1,
.scroll-header {
  position: relative;
  font: 16px/18px "Roboto Condensed", sans-serif;
}

.header-2,
.scroll-header {
  background: #f72210;
  padding: 15px;
}

.header-1 {
  color: #fff;
  background: #f72210;
  padding: 20px 10px 15px;
  height: 95px;
}

.hdr-left {
  padding: 6px 8px;
  position: absolute;
  bottom: 12px;
  left: 25px;
}

.hdr-right {
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  bottom: 12px;
  right: 0;
}

.sign-in-link {
  color: #fff;
  padding: 6px 12px;
}

.sign-in-link:hover {
  color: #fff;
}

.subscribe-btn {
  background-color: #fff;
  color: #f72210;
  padding: 6px 10px 6px 12px;
}

.subscribe-btn:hover {
  color: #f72210;
}

.fa-chevron-right {
  margin-left: 8px;
}

.burger-stripes {
  width: 74px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

.stripe {
  display: block;
  width: 30px;
  margin-bottom: 4px;
  height: 4px;
  background-color: #fb9a94;
}

@media (max-width: 508px) {
  .hdr-right {
    font-size: 16px;
  }

  .sign-in-link {
    padding: 6px 8px;
  }

  .subscribe-btn {
    padding: 6px 2px 6px 4px;
  }
}

@media (max-width: 420px) {
  .hdr-right {
    font-size: 14px;
  }

  .sign-in-link {
    padding: 6px 6px;
  }

  .subscribe-btn {
    padding: 6px 2px 6px 4px;
  }
}

.tnw-sm-logo {
  margin: -3.5em 0;
}

.tnw-logo {
  margin: -9em 0;
}

.lg-logo {
  position: absolute;
  top: -95px;
  left: 33%;
}

@media (max-width: 991px) {
  .hdr-right {
    position: absolute;
    right: 80px;
    top: 40px;
    z-index: 100;
  }

  .header-1 {
    height: 0;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .header-2 {
    padding: 0;
  }
}

/* -------header-3-------- */

.header-3 {
  padding: 15px 160px 15px 0;
  border-bottom: 2px solid #f4f5f6;
  position: relative;
  background: #fff;
}

.header-3-span {
  width: 78px;
  background: #f72210;
  display: block;
  border-left: 12px solid #fff;
  border-top: 13px solid #f72210;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-item {
  line-height: 24px;
  padding-right: 8px;
}

.nav-link {
  color: #000;
  font-weight: 700;
  padding: 0;
}

.header-nav-link {
  font-size: 19px;
}

.nav-link:hover {
  color: #f72210;
}

.navbar-nav .nav-item:not(:last-child) {
  border-right: 0.5px solid #d9d9d9;
}

#search {
  width: 60px;
  height: 54px;
  position: absolute;
  top: 0;
  right: 102px;
  color: rgba(0, 0, 0, 0.55);
  background-color: white;
  font-size: 19px;
  border: none;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 82px;
  top: 18px;
}

.top {
  background: #fff;
}

@media (max-width: 1213px) {
  .nav-link {
    font-size: 17px;
    padding-right: 4px;
  }
}

@media (max-width: 1132px) {
  .nav-link {
    font-size: 17px;
    padding: 0;
  }
}

@media (max-width: 1103px) {
  .nav-link {
    font-size: 15px;
  }
}

@media (max-width: 1038px) {
  .nav-link {
    font-size: 15px;
    margin-right: -5px;
  }
}

/* ----------scroll header----------- */

.burger-scroll {
  width: 74px;
  position: absolute;
  right: 0;
}

.btn-scroll {
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  bottom: 12px;
  right: 80px;
  top: 10px;
  display: flex;
}

/* ---------Top section---------- */
.body-content {
  background: #fff;
  padding: 20px 15px 0 30px;
}

.column-title {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  padding-bottom: 11px;
}

.column-link-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  font-family: 'Roboto Condensed', sans-serif;
}

.column-link-heading:hover {
  border-bottom: 1px solid #f72210;
  color: #f72210;
}

.img-container {
  position: relative;
  margin-bottom: 15px;
}

.summary {
  font-size: 15px;
}

.category {
  position: absolute;
  padding: 8px 15px 9px;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  font: bold 17px/16px "Roboto Condensed", sans-serif;
}

.category a:hover {
  color: #f72210;
}

.category-tag {
  color: #f72210;
}

.category-tag-blue {
  color: #3581f4;
}

.category-small {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #c2d4d7;
  padding: 0 6px;
  color: inherit;
}

.title {
  font: 16px/22px 'Lora', serif;
  color: #272727;
  margin-bottom: 10px;
  font-weight: 600;
  opacity: 0.7;
}

.small-title,
.hov-red-u-small {
  font: bold 17px/20px 'Roboto Condensed', sans-serif;
}

.more-story {
  padding: 14px 0;
}

.hov-red-u-small:hover {
  border-bottom: 1px solid #f72210;
}

.summary-unique {
  font: 15px/20px "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: rgba(39, 39, 39, 0.5);
}

/* -----------Opinion--------------- */
.column-main-font {
  font: bold 17px/21px "Roboto Condensed", sans-serif;
  color: black;
  margin-bottom: 30px;
}

.author-img {
  margin-right: 15px;
}

.aside-r {
  padding: 0 20px 0 30px;
}

.byline,
.by {
  font-size: 14px;
  color: #555;
}

.separator {
  width: 40px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  margin: 14px auto 18px;
}

.newsletter-signup {
  font: bold 18px/18px "Roboto Condensed", sans-serif;
  padding: 20px;
  margin: 0 auto 30px;
  background-color: #f4f5f6;
}

.signup-btn {
  padding: 10px 10px 10px 12px;
  color: white;
  margin-bottom: 15px;
  background-color: #666;
  width: fit-content;
}

.signup-btn:hover {
  color: #fff;
  opacity: 0.7;
}

.note {
  color: #333;
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
}

/* ---------debate------------ */

.debate-item-1 {
  border-top: 4px solid #f72210;
}

.debate-item-2 {
  border-top: 4px solid #1c87fb;
}

.debate-byline::before {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
}

.debate-byline::after {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 47px;
}

.debate-author-img {
  width: 63px;
  z-index: 1;
}

.debate-byline {
  position: relative;
  font-size: 14px;
  margin-top: 4px;
}

/* -----------magazine section-------- */
.newsweek-icon {
  width: 29px;
  height: 28px;
  margin-right: 10px;
}

.card-para {
  margin: 0 30px 0 0;
}

.mag-btn {
  background-color: #f4f5f6;
  color: #000;
  font-weight: 700;
  padding: 10px 10px 10px 12px;
}

.tag {
  padding: 7px;
  background-color: #f72210;
  color: white;
  margin-right: 7px;
}

.editor-tag {
  font: bold 17px/16px "Roboto Condensed", sans-serif;
  color: #f72210;
  padding: 8px 15px 9px;
  background: rgba(255, 255, 255, 0.9);
}

.block-title {
  border-top: 1px solid #d9d9d9;
  color: #f72210;
  padding-top: 25px;
  font-size: 22px;
  line-height: 22px;
}

/* ------------Subscribe block---------------- */
.subscribe-img {
  position: relative;
  padding-bottom: 20px;
  padding-right: 90px;
}

.btn-subscribe {
  background-color: #f72210;
  color: #fff;
  padding: 10px 10px 10px 12px;
}

.details {
  padding-right: 30px;
}

.subscriber-img-2 {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* -----------footer----------- */
.footer-logo {
  width: 251px;
  margin: -4em 0;
}
